<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="doan2.Properties.Settings.QLSIMDTConnectionString"
            connectionString="Data Source=VANDUC;Initial Catalog=QLSIMDT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>