USE [master]
GO
/****** Object:  Database [QLSIMDT]    Script Date: 12/2/2018 4:51:41 PM ******/
CREATE DATABASE [QLSIMDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSIMDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLSIMDT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSIMDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLSIMDT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSIMDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSIMDT]
GO
USE [QLSIMDT]
GO
/****** Object:  Table [dbo].[CHITIETSD]    Script Date: 12/2/2018 4:51:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSD](
	[IDCTSD] [int] IDENTITY(1000,1) NOT NULL,
	[IDSIM] [char](10) NOT NULL,
	[TGBD] [datetime] NOT NULL,
	[TGKT] [datetime] NOT NULL,
	[SOPHUTSD] [int] NULL,
	[CUOCPHI] [int] NULL,
 CONSTRAINT [PK_CHITIETSD] PRIMARY KEY CLUSTERED 
(
	[IDCTSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOTCUOC]    Script Date: 12/2/2018 4:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTCUOC](
	[DOTCUOC] [int] NOT NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
 CONSTRAINT [PK_DOTCUOC] PRIMARY KEY CLUSTERED 
(
	[DOTCUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIACUOC]    Script Date: 12/2/2018 4:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIACUOC](
	[MAGC] [int] IDENTITY(1000,1) NOT NULL,
	[TGBD] [datetime] NULL,
	[TGKT] [datetime] NULL,
	[GIACUOC] [int] NULL,
 CONSTRAINT [PK_GIACUOC] PRIMARY KEY CLUSTERED 
(
	[MAGC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDCT]    Script Date: 12/2/2018 4:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDCT](
	[MAHDCT] [int] IDENTITY(1000,1) NOT NULL,
	[IDSIM] [char](10) NULL,
	[TONGTIEN] [bigint] NULL,
	[TRANGTHAI] [bit] NULL,
	[Ngay] [date] NULL,
	[DOTCUOC] [int] NULL,
 CONSTRAINT [PK_HDCT] PRIMARY KEY CLUSTERED 
(
	[MAHDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONDK]    Script Date: 12/2/2018 4:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONDK](
	[MAHDDK] [int] IDENTITY(1000,1) NOT NULL,
	[IDSIM] [char](10) NULL,
	[CUOCDK] [nchar](10) NULL,
	[Ngay] [date] NULL,
 CONSTRAINT [PK_HOADONDK] PRIMARY KEY CLUSTERED 
(
	[MAHDDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/2/2018 4:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1000,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[CMND] [char](9) NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[TINHTRANG] [bit] NULL,
	[Email] [varchar](255) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINSIM]    Script Date: 12/2/2018 4:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINSIM](
	[IDSIM] [char](10) NOT NULL,
	[MAKH] [int] NULL,
	[TRINHTRANG] [bit] NULL,
 CONSTRAINT [PK_THONGTINSIM] PRIMARY KEY CLUSTERED 
(
	[IDSIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETSD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSD_THONGTINSIM] FOREIGN KEY([IDSIM])
REFERENCES [dbo].[THONGTINSIM] ([IDSIM])
GO
ALTER TABLE [dbo].[CHITIETSD] CHECK CONSTRAINT [FK_CHITIETSD_THONGTINSIM]
GO
ALTER TABLE [dbo].[HDCT]  WITH CHECK ADD  CONSTRAINT [FK_HDCT_DOTCUOC] FOREIGN KEY([DOTCUOC])
REFERENCES [dbo].[DOTCUOC] ([DOTCUOC])
GO
ALTER TABLE [dbo].[HDCT] CHECK CONSTRAINT [FK_HDCT_DOTCUOC]
GO
ALTER TABLE [dbo].[HDCT]  WITH CHECK ADD  CONSTRAINT [FK_HDCT_THONGTINSIM] FOREIGN KEY([IDSIM])
REFERENCES [dbo].[THONGTINSIM] ([IDSIM])
GO
ALTER TABLE [dbo].[HDCT] CHECK CONSTRAINT [FK_HDCT_THONGTINSIM]
GO
ALTER TABLE [dbo].[HOADONDK]  WITH CHECK ADD  CONSTRAINT [FK_HOADONDK_THONGTINSIM] FOREIGN KEY([IDSIM])
REFERENCES [dbo].[THONGTINSIM] ([IDSIM])
GO
ALTER TABLE [dbo].[HOADONDK] CHECK CONSTRAINT [FK_HOADONDK_THONGTINSIM]
GO
ALTER TABLE [dbo].[THONGTINSIM]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINSIM_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[THONGTINSIM] CHECK CONSTRAINT [FK_THONGTINSIM_KHACHHANG]
GO
USE [master]
GO
